# Project exclude paths
/.gradle/
/common/build/
/common/build/classes/java/main/
/common/build/classes/java/test/
/rpc/build/
/rpc/build/classes/java/main/
/.idea/
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/test/HelloController.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/test/HelloService.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/test/HelloService2.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/test/HelloServiceImpl.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/test/HelloServiceImpl2.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/NettyClientMain.class
/demo/build/classes/java/main/cn/cixinxc/tinkle/start/NettyServerMain.class
/demo/build/tmp/compileJava/source-classes-mapping.txt
/spring-support/build/classes/java/main/cn/cixinxc/tinkle/spring/support/CustomScanner.class
/spring-support/build/classes/java/main/cn/cixinxc/tinkle/spring/support/CustomScannerRegistrar.class
/spring-support/build/classes/java/main/cn/cixinxc/tinkle/spring/support/RpcScan.class
/spring-support/build/classes/java/main/cn/cixinxc/tinkle/spring/support/TinkleAnnotationPostProcessor.class
/spring-support/build/libs/spring-support-0.0.1.jar
/spring-support/build/tmp/compileJava/source-classes-mapping.txt
/spring-support/build/tmp/jar/MANIFEST.MF
